{% extends 'base.html' %}

{% block content %}

<h1>Adventurer Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">

            <div class="card-content">
                <span class="card-title">{{ adventurer.name }}</span>
                <p>Fighting style: {{ adventurer.style }}</p>
                <p>Preferred weapon: {{ adventurer.weapon }}</p>
                <p>Health: {{ adventurer.health }}</p>
                {% if adventurer.wealth > 1000 %}
                    <p>Wealth: This adventurer is rich. They have ₤{{ adventurer.wealth }}</p>
                {% else %}
                    <p>Wealth: This adventurer is poor. They have ₤{{ adventurer.wealth }}</p>
                {% endif %}
            </div>
            <div class="card-action">
                <a href="{% url 'adventurers_delete' adventurer.id %}" class="btn red">Delete</a>
                <a href="{% url 'adventurers_edit' adventurer.id adventurer.name %}" class="btn blue">Edit</a>
            </div>
            
        </div>
    </div>
    <div class="col s6">
        <form action="{% url 'add_journey' adventurer.id adventurer.name %}" method="POST">
            {% csrf_token %}
            {{ journey_form.as_p }}
            <input type="submit" class="btn" value="Add Journey">
        </form>
        <table class="striped">
            <thead>
                <tr><th>Goal</th><th>Challenge</th><th>Reward</th></tr>
            </thead>
            <tbody>
                {% for journey in adventurer.journey_set.all %}
                <tr>
                    <td>{{journey.goal}}</td>
                    <td>{{journey.challenge}}</td>
                    <td>{{journey.reward}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="row">
    <div class="col s6">
        <h3>{{ adventurer.name }}'s Enemies</h3>
            {% if adventurer.enemys.count %}
                {% for enemy in adventurer.enemys.all %}
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">The {{ enemy.species }} known as {{ enemy.name }}</span>
                        </div>
                        <div class="card-action">
                        <form action="{% url 'deassoc_enemy' adventurer.id adventurer.name enemy.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn red">Make Peace</button>
                        </form>
                    </div>
                    </div>
                {% endfor %}
            
            {% else %}
                <h5>What is an adventurer without any enemies? Go out and make some!</h5>
            {% endif %}
    </div>
    <div class="col s6">
        <h3>Potential Enemies</h3>
        {% if enemys.count %}
            {% for enemy in enemys.all %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">The {{ enemy.species }} known as {{ enemy.name }}</span>
                    </div>
                    <div class="card-action">
                        <form action="{% url 'assoc_enemy' adventurer.id adventurer.name enemy.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn">Pick a Fight</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h5>{{ adventurer.name }} is feared by all enemies.</h5>
        {% endif %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col s6">
        <h3>{{ adventurer.name }}'s Gear</h3>
        {% if adventurer.gears.count %}
            {% for gear in adventurer.gears.all %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">{{ gear.name }}</span>
                        <p>Attack power: {{ gear.attack }}</p>
                        <p>Armor bonus: {{ gear.armor }}</p>
                        <p>Heal bonus: {{ gear.heal }}</p>
                        <p>Cost: {{ gear.cost }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h5>An adventurer needs gear. You can't go into battle naked. You aren't Celtic.</h5>
        {% endif %}
    </div>
</div>
{% endblock %}